<div class="row">

  <h2>You Grabbed a Book From the Shelf!</h2>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{image}}" alt="{{title}}">
      <div class="caption">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
</div>
